.ctn {
    background-color: rgb(193, 207, 234);
    top: 0;
    width: 100%;
    min-height: 100vh;
    .content {
        padding: 40px 0;
        .card {
            background-color: rgb(170, 170, 170);
            border-radius: 8px;
            padding: 16px;
            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                h4 {
                    padding: 12px 12px 0;
                    border: 0;
                    margin-bottom: 16px;
                    color: #fff;
                    font-weight: 100;
                }
                .icon-nav {
                    .icon {
                        font-size: 32px;
                        border-radius: 8px;
                    }
                    :hover {
                        cursor: pointer;
                    }
                }
            }
            &-body {
                padding: 12px 12px 0;
                .table {
                    width: 100%;
                    margin-bottom: 1rem;
                    color: #525f7f;
                    background-color: transparent;
                    border-collapse: collapse;
                }
                .container-type {
                    background-color: #fff;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
                    transition: opacity 300ms ease 0s;
                    .type-item {
                        color: rgb(22, 24, 35);
                        font-weight: 400;
                        text-transform: capitalize;
                        padding: 2px 8px;
                        width: 80px;
                        border-radius: 4px;
                        &:hover {
                            cursor: pointer;
                            background-color: #02020308;
                        }
                    }
                }
                th {
                    border-color: hsla(0,0%,100%,.1);
                    padding: 12px 7px;
                    vertical-align: middle;
                    font-weight: 600;
                    border: 0;
                    // color: hsla(0,0%,100%,.7);
                    vertical-align: bottom;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-align: center;
                    .icon-arrow {
                        margin-left: 12px;
                        font-size: 20px;
                        margin-bottom: 4px;
                        :hover {
                            cursor: pointer;
                        }
                    }
                }
                td {
                    text-align: center;
                    border-color: hsla(0,0%,100%,.1);
                    padding: 12px 7px;
                    vertical-align: middle;
                    // color: hsla(0,0%,100%,.7)!important;
                    border-top: .0625rem solid #e3e3e3;
                }
                .id {
                    text-align: start;
                }
                .data-not-found {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    padding: 36px;
                    border-radius: 8px;
                    flex-direction: column;
                    min-height: calc(100vh - 400px);
                    img {
                        height: 200px;
                        width: 200px;
                    }
                    .text {
                        font-size: 20px;
                        margin-top: 12px;
                        font-weight: 200;
                    }
                }
            }
            .container-divide {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:40px;
                margin-bottom: 12px;
                .clicked {
                    padding: 4px 12px;
                    background-color: #e14eca;
                    border-radius: 8px;
                    margin: 0 8px;
                    text-align: center;
                }
                span {
                    padding: 4px 12px;
                    background-color: #ebcae6;
                    border-radius: 8px;
                    margin: 0 12px;
                    text-align: center;
                }
                :hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}