.container_chart {
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 24px 24px 0;
    h6{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 12px;
    }
}